body {
  color: #444;
  font-family: sans-serif;
  border: 5px solid black;
}

.article-heading {
  background-color: #cecece;
  text-align: center;
  text-transform: uppercase;
}

.shipping {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #919191;
}

.button {
  text-transform: uppercase;
  background-color: black;
  color: white;
}

a:link,
a:visited {
  color: black;
}

a:hover,
a:active {
  font-weight: bold;
}
